/* sidebar or topbar header */
.wy-side-nav-search, .wy-nav-top {
  background: seagreen;
}

/* sidebar caption ("contents") */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: rgb(61, 184, 114);
}

/* search */
.wy-side-nav-search input[type="text"] {
  border-color: seagreen;
}

/* table caption */
.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
  color: inherit;
  font: inherit;
  font-size: small;
  font-style: italic;
}

/* table header */
.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
  color: inherit;
}

/* figure caption */
.rst-content div.figure p.caption {
  text-align: center;
  font: inherit;
  font-size: small;
  font-style: italic;
  padding: 1em 0;
}

/* ****************************************************** */

/* sidebar */
/* .wy-nav-side {
  background: darkslategrey;
} */

/* link */
/* a {
  color: crimson;
} */

/* a:hover {
  color: lightcoral;
} */

/* a:visited {
  color: palevioletred;
} */

/* sidebar header link */
/* .wy-side-nav-search, .wy-nav-top a {
  color: white;
} */

/* sidebar header link hover */
/* .wy-side-nav-search, .wy-nav-top a:hover {
  color: white;
} */

/* sidebar link hover */
/* .wy-menu-vertical a:hover {
  background-color: seagreen;
  color: white;
} */

/* sidebar link */
/* .wy-menu-vertical a {
  color: white;
} */

/* search header link */
/* .wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
  color: white;
} */
